In [1]:
%matplotlib inline
import pandas as pd

In [2]:
cast = pd.read_csv('data/cast.csv.gz', compression='gzip')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [ ]:
# automaticamente reconoce el año como una fecha
release_dates = pd.read_csv('data/release_dates.csv.gz', 
                            parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

### Haz un gráfico de barras que indique el número de películas por mes con las películas que contienen "Christmas" en su titulo

### Construye un gráfico de barras con el día de la semana en que se lanzaron las películas con incluyen "Romance" en el título.