**Objetivo**: responder preguntas sobre los datos usando Pandas.

Estos ejercicios son la traducción del tutorial de Brandon Rhodes "Pandas from the ground up" https://github.com/brandon-rhodes/pycon-pandas-tutorial. Bajo licencia MIT.

Su tutorial también está disponible en video: https://www.youtube.com/watch?v=5JnMutdy6Fw

Lo primero es descargar los datasets. Baja estos archivos y copialos al directorio ``data``:
- [titles.csv.gz](https://doc-08-7o-docs.googleusercontent.com/docs/securesc/e6usg7cilu8dk4jroot4hkp0j2enilu3/8jos36qsvkruj11t1ftffg6mvlq675ho/1507212000000/08589481064704159121/08589481064704159121/0B5A0V_ZHbZvQVWdRZWFPQUN5MDg?h=18025113476888111704&e=download)
- [cast.csv.gz](https://doc-0c-7o-docs.googleusercontent.com/docs/securesc/e6usg7cilu8dk4jroot4hkp0j2enilu3/el9hksr4tc2q2rmkveqglt3q7aile4fk/1507212000000/08589481064704159121/08589481064704159121/0B5A0V_ZHbZvQX0ktVmJZczgwSWM?h=18025113476888111704&e=download)

Si tienes problemas para descargar los datos, prueba con [este link](https://drive.google.com/drive/folders/0B5A0V_ZHbZvQWlItNTJUVUQ0WFk?usp=sharing).

In [1]:
%matplotlib inline
import pandas as pd

In [2]:
titles = pd.read_csv('data/titles.csv.gz', compression='gzip')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4          The Golden Note  2017

In [92]:
cast = pd.read_csv('data/cast.csv.gz', compression='gzip')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### ¿Cuántas películas aparecen en el dataframe titles?

In [11]:
titles.shape

(239341, 2)

In [5]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239341 entries, 0 to 239340
Data columns (total 2 columns):
title    239341 non-null object
year     239341 non-null int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

### ¿Cuáles son las dos películas más antiguas?

In [49]:
titles.sort_values('year').head(2)

                     title  year
183064          Miss Jerry  1894
221680  The Startled Lover  1898

### ¿Cuántas películas se titulan "Hamlet"?

In [ ]:
titles['title'] == 'Hamlet'

In [30]:
titles[titles['title'] == 'Hamlet']

         title  year
6170    Hamlet  1948
48165   Hamlet  1910
50789   Hamlet  2017
77310   Hamlet  2015
94903   Hamlet  1976
95253   Hamlet  1969
97157   Hamlet  1987
97359   Hamlet  2000
101498  Hamlet  1921
132300  Hamlet  1954
162862  Hamlet  1990
171444  Hamlet  1913
181375  Hamlet  2009
185154  Hamlet  2016
188397  Hamlet  1964
207272  Hamlet  1996
213749  Hamlet  2011
216160  Hamlet  1911
228113  Hamlet  1973
230307  Hamlet  2014

In [40]:
titles[titles.title=='Hamlet'].shape[0]

20

### ¿Cuántas películas se titulan "Blade Runner"?

In [41]:
titles[titles.title == 'Blade Runner']

               title  year
106633  Blade Runner  1982

### ¿Cuándo se creo la primera película "Hamlet"?

In [54]:
titles[titles.title=='Hamlet'].sort_values('year').head(1)

        title  year
48165  Hamlet  1910

In [56]:
hamlet = titles[titles.title == 'Hamlet']
min(hamlet.year)

1910

In [59]:
titles[titles.title=='Hamlet'].sort_values('year').head(1)

        title  year
48165  Hamlet  1910

In [60]:
(titles[titles.title=='Hamlet']
 .sort_values('year')
 .head(1))

        title  year
48165  Hamlet  1910

### Muestra todas las películas "Treasure Island" desde la más antigua a la más reciente.

In [63]:
(titles[titles.title=='Treasure Island']
 .sort_values('year')
)

                  title  year
212183  Treasure Island  1918
52850   Treasure Island  1920
196758  Treasure Island  1934
99798   Treasure Island  1950
79515   Treasure Island  1972
114712  Treasure Island  1973
211531  Treasure Island  1985
184707  Treasure Island  1999

### ¿Cuántas películas se hicieron en 1950?

In [70]:
titles[titles['year'] == 1950]

                                  title  year
73                     Campo O' Donnell  1950
94                     Botta e risposta  1950
235                              Madari  1950
568                 Un certain monsieur  1950
1035                  Vom Teufel gejagt  1950
1148                        The Jackpot  1950
1619                Tanssi yli hautojen  1950
1730              The Elusive Pimpernel  1950
1735               Akatsuki no tsuiseki  1950
1743              Das doppelte Lottchen  1950
1783              Atom Man vs. Superman  1950
1907               The Sun Sets at Dawn  1950
1996                  Paolo e Francesca  1950
2306                 Annie Get Your Gun  1950
2430                        Side Street  1950
2709                   O Pecado de Nina  1950
2934                 Hit Parade of 1951  1950
3309                Belle of Old Mexico  1950
3442                            Senritu  1950
3457                  Gunmen of Abilene  1950
3531                     Garota Mineira  1950
3533                  Nancy Goes to Rio  1950
3573                       Texas Dynamo  1950
3653                       I fuorilegge  1950
3675                          Ogni Baku  1950
3769                   Edong Mapangarap  1950
3836                   La Marie du port  1950
3955                     Lyn-fotografen  1950
4463                 Comanche Territory  1950
4562                 Mujeres en mi vida  1950
...                                 ...   ...
232560                       Sasameyuki  1950
232600                         Le furet  1950
232703               Tubig na hinugasan  1950
232858          Code of the Silver Sage  1950
232943         La danseuse de Marrakech  1950
233098                 Outlaws of Texas  1950
233160            Una mujer sin destino  1950
233435             The Astonished Heart  1950
233610          Il figlio di d'Artagnan  1950
234001               Shadow of the Past  1950
234015                  The White Tower  1950
234259            Il sentiero dell'odio  1950
234284                  Baikunther Will  1950
234343                     Cage of Gold  1950
234483                   Verlobte Leute  1950
234839                       Chain Gang  1950
235018            The Invisible Monster  1950
235051           Federal Agent at Large  1950
235195     Mrs. O'Malley and Mr. Malone  1950
235376                      Zhao Yi-Man  1950
235461             Matrimonio y mortaja  1950
235773                       Gadano Bel  1950
236538                  Fake's Progress  1950
236831                          Sangram  1950
237133  Sazae-san: Nodojiman uta-gassen  1950
237315                    Captain China  1950
237425                  Key to the City  1950
238238                     Dwie brygady  1950
238391                            Jogan  1950
238939                     Rasuna valea  1950

[1111 rows x 2 columns]

In [71]:
titles[titles['year'] == 1950].shape

(1111, 2)

### ¿Cuántas películas se hicieron en el año 1960?

In [72]:
titles[titles['year']==1960].shape[0]

1538

### ¿Cuántas películas se hicieron desde 1950 hasta el 1959?

In [79]:
titles[(titles.year >= 1950) & 
       (titles.year <= 1959)].shape[0]

12882

### ¿En qué años se lanzaron las películas "Batman"?

In [89]:
titles[titles.title=='Batman']['year']

57708    1989
76805    1943
Name: year, dtype: int64

In [90]:
titles[titles.title=='Batman'].year

57708    1989
76805    1943
Name: year, dtype: int64

### ¿Cuántos personajes hay en la película "Inception"?

In [98]:
cast[cast.title == 'Inception']

,title,year,name,type,character,n
98549,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
149565,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
184686,Inception,2010,Tom Berenger,actor,Browning,8.0
198674,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
261166,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
328093,Inception,2010,Michael Caine,actor,Miles,11.0
334806,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
376282,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
435626,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
446195,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
499163,Inception,2010,Garvin Cross,actor,Snow Commander,NaN
519315,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
592978,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
686891,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
693461,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
710535,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
712341,Inception,2010,Russ Fega,actor,Cab Driver,23.0
740339,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
811083,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
815437,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
835410,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
836712,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
839644,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
863451,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
914472,Inception,2010,Lukas Haas,actor,Nash,12.0
944739,Inception,2010,Tom Hardy,actor,Eames,4.0
971089,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1010737,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1099493,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1113191,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
...,...,...,...,...,...,...
1928491,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
2007380,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
2057035,Inception,2010,Felix Scott,actor,Businessman,46.0
2135814,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2247051,Inception,2010,Affan Tareen,actor,Denison,NaN
2259369,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2276189,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2415840,Inception,2010,Ken Watanabe,actor,Saito,5.0
2622372,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2770482,Inception,2010,Marion Cotillard,actress,Mal,9.0
2780874,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2800415,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2811164,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2854999,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2933708,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2933715,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2951279,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
3052860,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3145289,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN
3147823,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3154591,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3198140,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3219925,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3334935,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3350844,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3377559,Inception,2010,Ellen Page,actress,Ariadne,3.0
3433726,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3461488,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3468455,Inception,2010,Talulah Riley,actress,Blonde,25.0
3713794,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### ¿Cuántos roles de la película "Inception"  están rankeados por un  valor "n"?

In [115]:
(
    cast[(cast.title == 'Inception') 
         & (cast.n.notnull())].shape
)

(51, 6)

In [117]:
cast[(cast.title == 'Inception')].n.count()

51

In [118]:
inception = cast[cast.title == 'Inception']
inception

,title,year,name,type,character,n
98549,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
149565,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
184686,Inception,2010,Tom Berenger,actor,Browning,8.0
198674,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
261166,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
328093,Inception,2010,Michael Caine,actor,Miles,11.0
334806,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
376282,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
435626,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
446195,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
499163,Inception,2010,Garvin Cross,actor,Snow Commander,NaN
519315,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
592978,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
686891,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
693461,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
710535,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
712341,Inception,2010,Russ Fega,actor,Cab Driver,23.0
740339,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
811083,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
815437,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
835410,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
836712,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
839644,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
863451,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
914472,Inception,2010,Lukas Haas,actor,Nash,12.0
944739,Inception,2010,Tom Hardy,actor,Eames,4.0
971089,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1010737,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1099493,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1113191,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
...,...,...,...,...,...,...
1928491,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
2007380,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
2057035,Inception,2010,Felix Scott,actor,Businessman,46.0
2135814,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2247051,Inception,2010,Affan Tareen,actor,Denison,NaN
2259369,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2276189,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2415840,Inception,2010,Ken Watanabe,actor,Saito,5.0
2622372,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2770482,Inception,2010,Marion Cotillard,actress,Mal,9.0
2780874,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2800415,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2811164,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2854999,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2933708,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2933715,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2951279,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
3052860,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3145289,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN
3147823,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3154591,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3198140,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3219925,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3334935,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3350844,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3377559,Inception,2010,Ellen Page,actress,Ariadne,3.0
3433726,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3461488,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3468455,Inception,2010,Talulah Riley,actress,Blonde,25.0
3713794,Inception,2010,Shannon Welles,actress,Old Mal,51.0

In [112]:
inception[inception.n.notnull()].shape

(51, 6)

In [114]:
inception.n.count()

51

In [116]:
inception[inception.n.notnull()]

,title,year,name,type,character,n
149565,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
184686,Inception,2010,Tom Berenger,actor,Browning,8.0
261166,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
328093,Inception,2010,Michael Caine,actor,Miles,11.0
334806,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
435626,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
446195,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
519315,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
592978,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
712341,Inception,2010,Russ Fega,actor,Cab Driver,23.0
740339,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
811083,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
815437,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
835410,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
836712,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
863451,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
914472,Inception,2010,Lukas Haas,actor,Nash,12.0
944739,Inception,2010,Tom Hardy,actor,Eames,4.0
971089,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1175418,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1314688,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1461012,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1621983,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1624820,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1675191,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1708368,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1818966,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1832944,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1868392,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1883424,Inception,2010,Dileep Rao,actor,Yusuf,6.0
2057035,Inception,2010,Felix Scott,actor,Businessman,46.0
2259369,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2276189,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2415840,Inception,2010,Ken Watanabe,actor,Saito,5.0
2622372,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2770482,Inception,2010,Marion Cotillard,actress,Mal,9.0
2780874,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2811164,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2933708,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2933715,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
3147823,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3154591,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3198140,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3219925,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3334935,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3350844,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3377559,Inception,2010,Ellen Page,actress,Ariadne,3.0
3433726,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3461488,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3468455,Inception,2010,Talulah Riley,actress,Blonde,25.0
3713794,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Y cuántos roles de la película "Inception" NO están rankeados por un valor "n"?

In [120]:
inception[inception.n.isnull()].shape

(27, 6)

In [121]:

(cast[(cast.title == 'Inception')
     & (cast.n.isnull())].shape)

(27, 6)

In [123]:
(cast[(cast.title == 'Inception')
     & (~cast.n.notnull())].shape)

(27, 6)

### Muestra los roles de la película "Blade Runner" según su importancia "n"-rank, ignorando roles sin un valor "n".

In [129]:
cast[(cast.title == 'Blade Runner') & (cast.n.notnull())].sort_values('n')

,title,year,name,type,character,n
750763,Blade Runner,1982,Harrison Ford,actor,Rick Deckard,1.0
963653,Blade Runner,1982,Rutger Hauer,actor,Roy Batty,2.0
3754053,Blade Runner,1982,Sean Young,actress,Rachael,3.0
1712512,Blade Runner,1982,Edward James Olmos,actor,Gaff,4.0
2402591,Blade Runner,1982,M. Emmet Walsh,actor,Bryant,5.0
2992843,Blade Runner,1982,Daryl Hannah,actress,Pris,6.0
2017613,Blade Runner,1982,William Sanderson,actor,J.F. Sebastian,7.0
1092009,Blade Runner,1982,Brion James,actor,Leon Kowalski,8.0
2319789,Blade Runner,1982,Joe Turkel,actor,Dr. Eldon Tyrell,9.0
2719450,Blade Runner,1982,Joanna Cassidy,actress,Zhora,10.0
1026088,Blade Runner,1982,James Hong,actor,Hannibal Chew,11.0
1767737,Blade Runner,1982,Morgan Paull,actor,Holden,12.0
2273950,Blade Runner,1982,Kevin (II) Thompson,actor,Bear,13.0
40932,Blade Runner,1982,John Edward Allen,actor,Kaiser,14.0
1857657,Blade Runner,1982,Hy Pyke,actor,Taffey Lewis,15.0
3024934,Blade Runner,1982,Kimiko Hiroshige,actress,Cambodian Lady,16.0
1707842,Blade Runner,1982,Bob Okazaki,actor,Howie Lee,17.0
2817178,Blade Runner,1982,Carolyn DeMirjian,actress,Saleslady,18.0

In [132]:
BladeRunner=cast[cast.title=='Blade Runner']
BladeRunner[BladeRunner.n.notnull()].sort_values('n')

,title,year,name,type,character,n
750763,Blade Runner,1982,Harrison Ford,actor,Rick Deckard,1.0
963653,Blade Runner,1982,Rutger Hauer,actor,Roy Batty,2.0
3754053,Blade Runner,1982,Sean Young,actress,Rachael,3.0
1712512,Blade Runner,1982,Edward James Olmos,actor,Gaff,4.0
2402591,Blade Runner,1982,M. Emmet Walsh,actor,Bryant,5.0
2992843,Blade Runner,1982,Daryl Hannah,actress,Pris,6.0
2017613,Blade Runner,1982,William Sanderson,actor,J.F. Sebastian,7.0
1092009,Blade Runner,1982,Brion James,actor,Leon Kowalski,8.0
2319789,Blade Runner,1982,Joe Turkel,actor,Dr. Eldon Tyrell,9.0
2719450,Blade Runner,1982,Joanna Cassidy,actress,Zhora,10.0
1026088,Blade Runner,1982,James Hong,actor,Hannibal Chew,11.0
1767737,Blade Runner,1982,Morgan Paull,actor,Holden,12.0
2273950,Blade Runner,1982,Kevin (II) Thompson,actor,Bear,13.0
40932,Blade Runner,1982,John Edward Allen,actor,Kaiser,14.0
1857657,Blade Runner,1982,Hy Pyke,actor,Taffey Lewis,15.0
3024934,Blade Runner,1982,Kimiko Hiroshige,actress,Cambodian Lady,16.0
1707842,Blade Runner,1982,Bob Okazaki,actor,Howie Lee,17.0
2817178,Blade Runner,1982,Carolyn DeMirjian,actress,Saleslady,18.0

### Muestre el reparto completo de la película "Scarface" (1932) según el ranking "n".

In [133]:
cast[(cast.title=='Scarface')& (cast.year==1932)].sort_values('n')

,title,year,name,type,character,n
1617878,Scarface,1932,Paul Muni,actor,Tony,1.0
2852956,Scarface,1932,Ann Dvorak,actress,Cesca,2.0
3313881,Scarface,1932,Karen Morley,actress,Poppy,3.0
1785399,Scarface,1932,Osgood Perkins,actor,Johnny Lovo,4.0
861353,Scarface,1932,C. Henry Gordon,actor,Inspector Guarino,5.0
1869341,Scarface,1932,George Raft,actor,Rinaldo,6.0
140197,Scarface,1932,Vince Barnett,actor,Angelo,7.0
1159460,Scarface,1932,Boris Karloff,actor,Tom Gaffney,8.0
1841138,Scarface,1932,Purnell Pratt,actor,Publisher,9.0
1449153,Scarface,1932,Tully Marshall,actor,Managing Editor,10.0
3379443,Scarface,1932,Inez Palange,actress,Tony's Mother,11.0
1475274,Scarface,1932,Edwin Maxwell,actor,Detective Chief,12.0
80345,Scarface,1932,Henry Armetta,actor,Pietro - Barber,NaN
82415,Scarface,1932,Gus Arnheim,actor,Orchestra Leader,NaN
213220,Scarface,1932,Maurice Black,actor,Jim - Headwaiter,NaN
312147,Scarface,1932,William Burress,actor,Judge (alternate ending),NaN
476541,Scarface,1932,Gino Corrado,actor,Waiter at Columbia Cafe,NaN
537484,Scarface,1932,William B. Davidson,actor,Citizens Committee Member,NaN
643690,Scarface,1932,James Durkin,actor,Newspaper Man,NaN
724755,Scarface,1932,Eddie Fetherston,actor,Reporter,NaN
737520,Scarface,1932,Paul Fix,actor,Hood with Gaffney,NaN
750296,Scarface,1932,Francis Ford,actor,Prison Guard (alternate ending),NaN
906388,Scarface,1932,Gus Arnheim and His Orchestra,actor,Paradise Club Orchestra,NaN
966418,Scarface,1932,Howard Hawks,actor,Man on Bed,NaN
1054899,Scarface,1932,Brandon Hurst,actor,Citizens Committee Member,NaN
1177877,Scarface,1932,John Kelly,actor,One of Costillo's Hoods,NaN
1412967,Scarface,1932,John Lee Mahin,actor,MacArthur from the Journal,NaN
1429519,Scarface,1932,Hank Mann,actor,Stag Party Janitor,NaN
1695821,Scarface,1932,Dennis O'Keefe,actor,Night Club Patron,NaN
1788364,Scarface,1932,Jack Perry,actor,One of Costillo's Hoods,NaN
1900563,Scarface,1932,Pedro Regas,actor,Tony - Bodyguard,NaN
1923268,Scarface,1932,Warner Richmond,actor,Cesca's Dance Partner,NaN
1961388,Scarface,1932,Constantine Romanoff,actor,Henchman,NaN
2177341,Scarface,1932,Bert Starkey,actor,Epstein - Lawyer,NaN
2215838,Scarface,1932,Charles Sullivan,actor,One of Costillo's Hoods,NaN
2259156,Scarface,1932,Harry Tenbrook,actor,One of Costillo's Hoods,NaN
2274460,Scarface,1932,Nick Thompson,actor,One of Costillo's Hoods,NaN
2356597,Scarface,1932,Harry J. Vejar,actor,Big Louis Costillo,NaN
2373903,Scarface,1932,Sailor Vincent,actor,One of Costillo's Hoods,NaN
2404609,Scarface,1932,Douglas Walton,actor,Cesca's Boyfriend,NaN
2639135,Scarface,1932,Eugenie Besserer,actress,Citizens Committee Member,NaN
2787269,Scarface,1932,Virginia Dabney,actress,Mabel,NaN
2996506,Scarface,1932,Jean Harlow,actress,Blonde at Paradise Club - Cameo appearance in ...,NaN
3637100,Scarface,1932,Helen C. Thompson,actress,Sadie Thompson,NaN
3674181,Scarface,1932,Ellinor Vanderveer,actress,Theatregoer,NaN

### Ahora el reparto completo, pero la de la última versión de "Scarface".

In [134]:
titles[titles.title == 'Scarface']

           title  year
95224   Scarface  1983
113706  Scarface  2018
235924  Scarface  1932

In [135]:
cast[(cast.title=='Scarface')& (cast.year==1983)].sort_values('n')

,title,year,name,type,character,n
1732108,Scarface,1983,Al Pacino,actor,Tony Montana,1.0
154882,Scarface,1983,Steven Bauer,actor,Manny Ribera,2.0
3408000,Scarface,1983,Michelle Pfeiffer,actress,Elvira Hancock,3.0
3250479,Scarface,1983,Mary Elizabeth Mastrantonio,actress,Gina Montana,4.0
1361476,Scarface,1983,Robert Loggia,actor,Frank Lopez,5.0
2759061,Scarface,1983,Miriam Colon,actress,Mama Montana,6.0
5448,Scarface,1983,F. Murray Abraham,actor,Omar Suarez,7.0
2091349,Scarface,1983,Paul Shenar,actor,Alejandro Sosa,8.0
2518574,Scarface,1983,Harris Yulin,actor,Mel Bernstein,9.0
2006927,Scarface,1983,?ngel Salazar,actor,Chi Chi,10.0
2020883,Scarface,1983,Arnaldo Santana,actor,Ernie,11.0
2072300,Scarface,1983,Pepe Serna,actor,Angel,12.0
1589781,Scarface,1983,Michael P. Moran,actor,Nick The Pig,13.0
1078346,Scarface,1983,Al Israel,actor,Hector The Toad,14.0
1016821,Scarface,1983,Dennis Holahan,actor,Jerry The Banker,15.0
1438865,Scarface,1983,Mark Margolis,actor,Alberto The Shadow,16.0
39550,Scarface,1983,Michael Alldredge,actor,Sheffield,17.0
178466,Scarface,1983,Ted Beniades,actor,Seidelbaum,18.0
174992,Scarface,1983,Richard Belzer,actor,M.C. at Babylon Club,19.0
685930,Scarface,1983,Paul Espel,actor,Luis,20.0
262795,Scarface,1983,John Brandon,actor,Immigration Officer #3,21.0
1784239,Scarface,1983,Tony Perez,actor,Immigration Officer #2,22.0
2137124,Scarface,1983,Garnett Smith,actor,Immigration Officer #1,23.0
43526,Scarface,1983,Loren Almaguer,actor,Dr. Munoz,24.0
142355,Scarface,1983,Gil Barreto,actor,Cuban Refugee,25.0
2630923,Scarface,1983,Heather Benna,actress,Gutierrez Child,26.0
2667223,Scarface,1983,Sue Bowser,actress,Miriam,27.0
2703321,Scarface,1983,Tina Leigh Cameron,actress,Saleslady,28.0
339204,Scarface,1983,Victor Campos,actor,Ronnie Echevierra,29.0
341080,Scarface,1983,Robert Hammer Cannerday,actor,Marielito,30.0
...,...,...,...,...,...,...
3104008,Scarface,1983,Margo Kelly,actress,Woman at Babylon Club,78.0
3164505,Scarface,1983,Ava Lazar,actress,Woman at Babylon Club,79.0
2778282,Scarface,1983,Emilia Crow,actress,Woman at Babylon Club,80.0
3224978,Scarface,1983,Marii Mak,actress,Woman at Babylon Club,81.0
3312715,Scarface,1983,Shelley Taylor Morgan,actress,Woman at Babylon Club,82.0
3464982,Scarface,1983,Catharine Richardson,actress,Woman at Babylon Club,83.0
3560466,Scarface,1983,Pat Simmons,actress,Woman at Babylon Club,84.0
3628118,Scarface,1983,Terri Taylor,actress,Woman at Babylon Club,85.0
2548907,Scarface,1983,Charlie Adiano,actress,Woman at Babylon Club,86.0
3096912,Scarface,1983,Lisa Katz,actress,Woman at Babylon Club,87.0
3190598,Scarface,1983,Jeanette Linne,actress,Woman at Babylon Club,88.0
3284261,Scarface,1983,Margaret Michaels,actress,Woman at Babylon Club,89.0
3511802,Scarface,1983,Rhonda Sandberg,actress,Woman at Babylon Club,90.0
3547665,Scarface,1983,Katt Shea,actress,Woman at Babylon Club,91.0
3736504,Scarface,1983,Marcia Wolf,actress,Woman at Babylon Club,92.0
370821,Scarface,1983,Fidel Castro,actor,Himself,NaN
643900,Scarface,1983,Charles Durning,actor,Immigration Officer,NaN
766982,Scarface,1983,Dennis Franz,actor,Immigration Officer,NaN
985085,Scarface,1983,Gregg Henry,actor,Charles Goodson,NaN
1037247,Scarface,1983,Kevyn Major Howard,actor,Extra,NaN
1100150,Scarface,1983,Richard Jasen,actor,Little Boy at Pool,NaN
1209280,Scarface,1983,Henry Kingi,actor,Colombian Hitman,NaN
1457501,Scarface,1983,Gigi Martone,actor,Waiter,NaN
1886585,Scarface,1983,Brett Ratner,actor,Boy Lying on Raft in Pool,NaN
1992329,Scarface,1983,Randall Rutledge,actor,Night Club Patron,NaN
2099880,Scarface,1983,Marcus Shirock,actor,Boy at Pool,NaN
2822185,Scarface,1983,Barclay DeVeau,actress,Ambassador's Daughter,NaN
2943030,Scarface,1983,Linda Gillen,actress,Voice,NaN
3178578,Scarface,1983,Tammy Lynn Leppert,actress,Distraction at the Lookout Car - Chainsaw Show...,NaN
3706461,Scarface,1983,Max Wasa,actress,Dancer - LaLa,NaN

### ¿Cuántos roles habían en la versión muda de Hamlet de 1921?

### ¿Cuántas actrices/actores han aparecido en las películas  "Hamlet" ?

### ¿Cuántas personas han interpretado el rol de Neo?

###  ¿Cuántas personas han interpretado el rol de  "Girl"?

###  ¿Cuántas personas han interpretado el rol de  "The Stranger"?

### ¿Cuántos roles ha interpretado "Tom Hanks" en toda su carrera?

### ¿y cuántos roles ha interpretado "Julianne Moore"?

### Liste los roles de soporte (con n=2) interpretados por Humphrey Bogart en los 1940s, ordenados por año.

### Liste los roles principales de Humphrey Bogart en los 1940s ordenados por año.

### ¿Cuántos roles habían disponible para actores (actor) en los 1950s?

### ¿Cuántos roles habían disponible para actrices (actress) en los 1950s?

### ¿Cuántos roles principales (n=1) han existido desde la exhibición de la primera película hasta 1980?

### ¿Cuántos roles no principales han existido desde la exhibición de la primera película hasta 1980?

### ¿Cuántos roles menores (tanto que no tenian ranking) han exisitido desde la primera película hasta 1980?